.schedGameDate {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
}

.schedLeftArrow {
  position: absolute;
  left: 2%;
  top: 5%;
}

.weeklyRow > a.column {
  /* margin-left: -0.5%; */
  padding: 0 !important;
}

.dayHeader {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 2vw;
  text-align: center;
  font-weight: 800;
}
