.schedGameDate {
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.schedLeftArrow {
  position: absolute;
  left: 2%;
  top: 5%;
}

.weeklyRow > a.column {
  margin-left: -0.5%;
}
