.schedGameDate {
  font-size: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.schedGameTotal {
  font-size: 1vw;
  color: black;
}

.schedLeftArrow {
  position: absolute;
  left: 2%;
  top: 5%;
}

.weeklyRow > a.column {
  margin-left: -0.5%;
}
